
<section id="gallery">

<!-- <div class="w3-content w3-display-container" style="max-width:800px">

  <img class="mySlides" src="../src/img/sp1.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp2.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp3.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp4.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp5.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp6.jpg" style="width:100%">
  <img class="mySlides" src="../src/img/sp7.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp8.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp9.jpg" style="width:100%">
  <img class="mySlides" src="../src/img/sp10.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp11.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp12.JPG" style="width:100%">
  <img class="mySlides" src="../src/img/sp13.jpg" style="width:100%">


</div> -->

<ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
		<div class="slide">
			<img src="../src/img/sp1.JPG" />
        </div>
		<div class="nav">
			<label for="img-6" class="prev">&#x2039;</label>
			<label for="img-2" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide">
          <img src="../src/img/sp2.JPG" />
        </div>
		<div class="nav">
			<label for="img-1" class="prev">&#x2039;</label>
			<label for="img-3" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide">
          <img src="../src/img/sp3.JPG" />
        </div>
		<div class="nav">
			<label for="img-2" class="prev">&#x2039;</label>
			<label for="img-4" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-4" />
    <li class="slide-container">
        <div class="slide">
          <img src="../src/img/sp4.jpg" />
        </div>
		<div class="nav">
			<label for="img-3" class="prev">&#x2039;</label>
			<label for="img-5" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-5" />
    <li class="slide-container">
        <div class="slide">
          <img src="../src/img/sp5.jpg" />
        </div>
		<div class="nav">
			<label for="img-4" class="prev">&#x2039;</label>
			<label for="img-6" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-6" />
    <li class="slide-container">
        <div class="slide">
          <img src="../src/img/sp6.jpg" />
        </div>
		<div class="nav">
			<label for="img-5" class="prev">&#x2039;</label>
			<label for="img-1" class="next">&#x203a;</label>
		</div>
    </li>

    <li class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
      <label for="img-5" class="nav-dot" id="img-dot-5"></label>
      <label for="img-6" class="nav-dot" id="img-dot-6"></label>
    </li>
</ul>
</section>
