<section class="navbox" ng-class="{navlinks2: navLinks2}">
  <div class="logo">
    <a ui-sref='home'><img ng-hide="navLinks2" src="../src/img/qss_blue.png"/>
      <img ng-show="navLinks2" src="../src/img/qss_blue.png"/>
    </a>

  </div>
  <div class="navlinks">
    <span class="navlinkbox"><a ui-sref='gallery'>GALLERY</a></span>
    <span class="navlinkbox"><a ui-sref='press'>PRESS</a></span>
    <span class="navlinkbox"><a ui-sref='contact'>CONTACT</a></span>
    <span class="navlinkbox"><a ui-sref='save'>SAVE</a></span>
  </div>
</section>
