<div class="imgbox">
  <header-directive></header-directive>
</div>
<div class="module">
  <div class="text-box">
      <p>Welcome to Quad State Solar, your Alternative Energy Solutions Provider. An established Northeast regional PV design and installation firm, we are currently expanding our operations to service the US Virgin Islands.</p>
    </br>
      <p>Quad State Solar was founded in March of 2000 by Jonathan Lane, a NABCEP Certified Solar PV Installer™. Quad State Solar is an alternative energy company that designs, sells, and installs renewable energy systems for Residential and Business Customers. Quad State Solar is also a dealer of premium products from multiple manufacturers..</p>
    </br>
  </div>
</div>
<gallery-directive></gallery-directive>

<div class="module">
  <div class="text-box">
    Experience - Unmatched in the industry
Training - Continuously involved in receiving training from multiple manufactures and giving ongoing training to the industry
Depth and Breadth of Operations - by operating in both the residential and commercial markets in NY, NJ, CT, PA, and the U.S.V.I., QSS has an unparalleled perspective on the industry. We are able to provide best practices gleaned from years of experience in multiple markets.
    </br>
  </div>
</div>
<!-- <div class="imgbox"></div> -->
<div class='checkoutImagebox'>
<header-directive></header-directive>
</div>

<div class="checkout-header">
  <div class="checkout-header-logo"></div>
</div>


<div class="checkout-step-billing">
  <div class="checkout-step-left">
    <div class="checkout-step-title">contact:</div>
    <div class="checkout-step-title">
      1 800-959-9SUN</div>
    <div class="checkout-step-title">
      info@quadstatesolar.com</div>
    <div class="checkout-step-title">
      support@quadstatesolar.com</div>
  </div>
  <div class="checkout-step-right-form">
    <div class="checkout-form">
        <div class="checkout-column">
          <div class="checkout-field-text">
              <input type="text" required placeholder="FIRST NAME">
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="LAST NAME">
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="COMPANY (optional)">
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="EMAIL">
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="PHONE">
          </div>
        </div>
        <div class="checkout-column">
          <div class="checkout-field-text">
              <input type="text" placeholder="ADDRESS ONE">
          </div>
          <div class="checkout-field-text">
              <input type="text" ng-change="goToCorn()" ng-model="corn" placeholder="ADDRESS TWO (optional)">
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="CITY">
          </div>
          <div class="checkout-field-dropdown">
              <select class="checkout-field-dd">
                <option>STATE / PROVINCE</option>
                <option>NEW YORK</option>
                <option>NEW JERSEY</option>
                <option>CONNECTICUT</option>
                <option>PENNSYLVANIA</option>

              </select>
          </div>
          <div class="checkout-field-text">
              <input type="text" placeholder="ZIP CODE">
          </div>
          <div class="checkout-field-dropdown">
              <select class="checkout-field-dd">
                <option>UNITED STATES</option>
                <option>VIRGIN ISLANDS</option>

              </select>
          </div>
        </div>
    </div>


  </div>


</div>
